extends layout

block content
	h1 !{destination}
	div.container
		each path in photos
			div(style= "background:url('./images/#{destination}/#{path}') no-repeat center center; width:175px; height:175px; background-size:cover;")

