extends layout

block content
	h1= title

	div.container.clearfix
		nav
			div.logo 
		
			div.social_media
				a(href="http://twitter.com/verodalla")
					div.twitter
				
				a(href="http://facebook.com/verodalla")
					div.facebook
				
				a(href="http://instagram.com/verodalla")
					div.instagram
				
			
		

		div.main_gallery
				a(href="/inner_journey")
					div.gallery_item.inner_journey
				
			
				a(href="/livinlulu")
					div(class="gallery_item livinlulu")
				

				a(href="/poppies")
					div(class="gallery_item poppies")
				

				a(href="/about")
					div(class="gallery_item about")
				
			
				a(href="/exhibits")
					div(class="gallery_item exhibits")
				

				a(href="/press")
					div(class="gallery_item press")